@define-color colorPrimary #FF6600;
@define-color colorAccent @colorPrimary;
@define-color textColorPrimary #FFFFFF;

.titlesize {
    font-size: 14px;
}

row {
    padding: 5px;
    border-bottom: 1px solid #abacae;
}

row:selected {
    background-color: #fafafa;
    color: #000000;
}

link {
    color: @colorAccent;
}

paned.horizontal > separator {
    background-image:
        linear-gradient(
            to right,
            @menu_separator 1px,
            @menu_separator_shadow 1px,
            @menu_separator_shadow 2px,
            transparent 2px
        );
    margin-right: -7px;
    min-width: 8px;
    margin-top: -7px;
    min-height: 8px;
}
