@define-color colorPrimary #FF6600;
@define-color colorAccent @colorPrimary;
@define-color textColorPrimary #FFFFFF;

.listbox {
    padding: 5px;
    border-bottom: 1px solid #abacae;
}

.titlesize {
    font-size: 14px;
}

*:selected {
    background-color: #fafafa;
    color: #000000;
}
